<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag 'one.jpg' %><alt="HTML5 logo" width="500" height="99" /></div>
    <div class="item"><%= image_tag 'three.jpg' %> <alt="HTML5 logo" width="500" height="99" /></div>
    <div class="item"><%= image_tag 'two.jpg' %> <alt="HTML5 logo" width="500" height="99" /></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<p> Η επιχείρηση των αδερφών Πλειαθού ιδρύθηκε το 1975 συνεχίζοντας το έργο της ατομικής εταιρείας του Κωνσταντίνου Πλειαθού. Ο Κωνσταντίνος Πλειαθός τελειώνοντας το σχολείο φοίτησε στην Προπαρασκευαστική Σχολή Καλών Τεχνών της Τήνου όπου έμαθε και αγάπησε την τέχνη της επεξεργασίας του μάρμαρου και των άλλων πετρωμάτων. Το μεράκι του για την τέχνη αυτή αργότερα εμφύσησε στους γιους του οι οποίοι μέχρι σήμερα συνεχίζουν το έργο του.

Η εταιρεία δραστηριοποιείται στο χώρο των δομικών υλικών και ασχολείται με το εμπόριο και την επεξεργασία μαρμάρων γρανιτών και πετρωμάτων. Στο χώρο μας θα βρείτε όλα τα ελληνικά μάρμαρα, μάρμαρα εισαγωγής, φυσικούς γρανίτες και τεχνητούς, χαλαζίες της silestone, hanstone και άλλων εταιρειών.</p>
<p>
Κατασκευάζουμε και τοποθετούμε δάπεδα, μπάνια, σκάλες, ποδιές, τζάκια, τραπέζια, πάγκους κουζίνας και άλλα. Έχοντας πολυετή πείρα και μεράκι μπορούμε να φέρουμε σε πέρας το έργο σας με συνέπεια και επαγγελματική ευσυνειδησία και τα καλύτερα μηχανήματα.</p>
